In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv("input/train_identity.csv",index_col='TransactionID')

In [4]:
df['id_30'] = df['id_30'].str.replace('Mac OS X', 'MacOSX')
df['OS_id_30'] = df['id_30'].str.split(' ', expand=True)[0]
df['version_id_30'] = df['id_30'].str.split(' ', expand=True)[1]

In [7]:
df[['OS_id_30','version_id_30']]

              OS_id_30 version_id_30
TransactionID
2987004        Android           7.0
2987008            iOS        11.1.2
2987010            NaN           NaN
2987011            NaN           NaN
2987016         MacOSX       10_11_6
...                ...           ...
3577521            NaN           NaN
3577526        Android         7.1.1
3577529            NaN           NaN
3577531         MacOSX        10_9_5
3577534            NaN           NaN

[144233 rows x 2 columns]

In [35]:
import re

def matchregex(x):
    x = str(x)
    # returnList = []
    # extraList = []
    # for x in mylist:
    if re.match(r'.*chrome.*',x.lower()):
        return ("Chrome")
    elif re.match(r'.*chromium.*',x.lower()):
        return ("Chromium")
    elif re.match(r'.*opera.*',x.lower()):
        return ("Opera")
    elif re.match(r'.*firefox.*',x.lower()):
        return ("Firefox")
    elif re.match(r'.*puffin.*',x.lower()):
        return ("Puffin")
    elif re.match(r'.*safari.*',x.lower()):
        return ("Safari")
    elif re.match(r'.*edge.*',x.lower()):
        return ("IE")
    elif re.match(r'.*ie.*',x.lower()):
        return ("IE")
    elif re.match(r'.*google.*',x.lower()):
        return ("Google")
    elif re.match(r'.*samsung.*',x.lower()):
        return ("Native")
    elif re.match(r'.*android.*',x.lower()):
        return ("Native")
    else:
        return ("Generic")
    
def getVersion(mystring):
    temp = str(mystring).split(' ')
    for x in temp:
        try: 
            myfloat = float(x)
            return(myfloat)
        except:
            continue
    return np.nan

df['browser']=df['id_31'].apply(matchregex)
df['b_version']=df['id_31'].apply(getVersion)
df['b_version'] = np.where(df['browser'] == 'Native',np.nan, df['b_version'])
df['b_version'] = np.where(df['browser'] == 'Generic',np.nan, df['b_version'])
df[['browser','b_version']]

              browser  b_version
TransactionID
2987004        Native        NaN
2987008        Safari       11.0
2987010        Chrome       62.0
2987011        Chrome       62.0
2987016        Chrome       62.0
...               ...        ...
3577521        Chrome       66.0
3577526        Chrome       55.0
3577529        Chrome       65.0
3577531        Chrome       66.0
3577534        Chrome       66.0

[144233 rows x 2 columns]

In [22]:
def findDeviceInfo(inputString):
    if re.match(r'.*sm.*',str(inputString).lower()):
        return ("Samsung")
    elif re.match(r'.*sg.*',str(inputString).lower()):
        return ("Samsung")
    elif re.match(r'.*samsung.*',str(inputString).lower()):
        return ("Samsung")
    elif re.match(r'.*gt.*',str(inputString).lower()):
        return ("Samsung")
    elif re.match(r'.*pixel.*',str(inputString).lower()):
        return ("Google")
    elif re.match(r'.*nexus.*',str(inputString).lower()):
        return ("Google")
    elif re.match(r'.*windows.*',str(inputString).lower()):
        return ("Windows")
    elif re.match(r'.*asus.*',str(inputString).lower()):
        return ("ASUS")
    elif re.match(r'.*lg.*',str(inputString).lower()):
        return ("LG")
    elif re.match(r'.*vs.*',str(inputString).lower()):
        return ("LG")
    elif re.match(r'.*ios.*',str(inputString).lower()):
        return ("Apple")
    elif re.match(r'.*macos.*',str(inputString).lower()):
        return ("Apple")
    elif re.match(r'.*moto.*',str(inputString).lower()):
        return ("Motorola")
    elif re.match(r'.*huawei.*',str(inputString).lower()):
        return ("HUAWEI")
    elif re.match(r'.*ale-.*',str(inputString).lower()):
        return ("HUAWEI")
    elif re.match(r'.*-l.*',str(inputString).lower()):
        return ("HUAWEI")
    elif re.match(r'.*blade.*',str(inputString).lower()):
        return ("BLADE")
    elif re.match(r'.*htc.*',str(inputString).lower()):
        return ("HTC")
    elif re.match(r'.*redmi.*',str(inputString).lower()):
        return ("Redmi")
    elif re.match(r'.*lenovo.*',str(inputString).lower()):
        return ("Lenovo")
    elif re.match(r'.*android.*',str(inputString).lower()):
        return ("Android")
    elif re.match(r'.*e5306.*',str(inputString).lower()):
        return ("SONY")
    elif re.match(r'.*f3213.*',str(inputString).lower()):
        return ("SONY")
    elif re.match(r'.*ilium.*',str(inputString).lower()):
        return ("Ilium")
    elif re.match(r'.*trident.*',str(inputString).lower()):
        return ("Trident")
    elif re.match(r'.*rv:.*',str(inputString).lower()):
        return ("Rv")
    elif re.match(r'.*linux.*',str(inputString).lower()):
        return ("Linux")
    elif re.match(r'.*Hisense.*',str(inputString).lower()):
        return ("Hisense")
    else:
        return ("Others")
    
df['DeviceInfo'].apply(findDeviceInfo).value_counts()

Windows     47775
Apple       32355
Others      29629
Samsung     12141
Trident      7440
Rv           4385
Motorola     2935
LG           2750
HUAWEI       2472
BLADE         509
HTC           406
Google        320
Lenovo        318
Ilium         249
Redmi         161
SONY          139
Linux         121
Android        82
ASUS           46
Name: DeviceInfo, dtype: int64

In [38]:
df[['browser','b_version']].count()

browser      144233
b_version    110128
dtype: int64

In [ ]:
testing2 = train["TransactionAmt"]

testing2 = testing2*100

testing2 = testing2.astype(int)

testing2.head()